.Dark .cardTipoUsuario {
   color: #fff;
}

.cardTipoUsuario {
   width: 20em;
   height: 400px;
   display: flex;
   justify-content: end;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   gap: 20px;
   cursor: pointer;
   position: relative; /* Añadido para que los elementos absolutos se posicionen relativos a este contenedor */
   border-radius: 20px;
}

.cardTipoUsuario::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50%; /* La mitad superior será azul */
   background-color: #062e53; /* Color azul deseado */
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.cardTipoUsuario .backgroundImg {
   width: 100%;
   height: 50%; /* La mitad inferior será blanca */
   background-color: #fff; /* Color blanco deseado */
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.cardTipoUsuario .imgIcon {
   position: absolute;
   top: calc(50% - 5em); /* Coloca el icono en el centro verticalmente */
   left: calc(50% - 5em); /* Coloca el icono en el centro horizontalmente */
   width: 10em;
   height: 10em;
   border-radius: 100%;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1; /* Añadido para que el icono esté sobre el fondo */
}

.imgIcon img {
   width: 80%;
   height: 80%;
   border-radius: 100%;
}

.cardTipoUsuario .txtTipo {
   width: 100%;
   text-align: center;
   font-size: 2em;
   font-weight: 600;
   color: #000; /* Cambia el color del texto a negro */
   position: relative; /* Añadido para que los elementos absolutos se posicionen relativos a este contenedor */
}

.iniciarSesión {
   width: 150px;
   height: 37px;
   margin-top: 20px;
   margin-bottom: 10px;
   align-items: center; /* Alinea verticalmente el contenido al centro */
   justify-content: center; /* Alinea horizontalmente el contenido al centro */
   background-color: #424242;
   border-color: #000;
   cursor: pointer;
   color: white;
   display: flex;
   border-radius: 5px;
}