.Login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6d5b81 0%, #a1c2fa 100%);
}

.Login .seccion {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login .seccion .card .imagen {
  height: 8.75em;
  width: 8.75em;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Login .seccion .card .imagen img {
  height: 8.75em;
  width: 8.75em;
  height: 100% auto;
  width: 100% auto;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid transparent;
}

.Login .card {
  border-radius: 1.25em;
  background: var(--main-gradient);
  align-items: center;
  position: relative;
  width: 25em;
  height: 34em;
}

.Login .card .card-content {
  border-radius: 1.25em;
  width: 100% auto;
  height: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  z-index: 100;
  border: none;
}

.Login .glass {
  background: var(--main-gradient);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

/*    Mensaje de Error     */
.Login .warn-auth {
  position: relative;
  display: none;
  text-align: end;
  margin-top: -1.3em;
  text-align: right;
  width: 100%;
}

.Login .warn-auth.is-active {
  display: block;
  color: red;
  font-weight: 400;
  font-size: 0.8em;
}

/*    TEXT ROL    */

.Login .rol-Admin {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login .rol-Admin h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*    F O R M    */

.Login .login-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 1em 0 1em;
}

.Login .login-form .input-form {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1.5em;
}

.Login .input-form label {
  width: 100% auto;

}

.Login .input-form input {
  width: 100% auto;
  height: 3em;
  font-size: 1.1em;
  padding-left: 1em;
  border-radius: 3em;
  border: 2px solid #b8c6db;
}

.input-form input:focus {
  outline: none;

}

.Login .login-form .btn-Submit {
  width: 100%;
  height: 100;
  flex: 1;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  color: aliceblue;
  margin-top: 1em;
  border-radius: 5em;


}






.center-label {
  text-align: center;
}
.center-placeholder::placeholder {
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-Submit {
  background-color: #062E53; /* Color azul marino */
  color: white; /* Texto en color blanco */
  border: none; /* Sin bordes */
  padding: 20px 37px; /* Espaciado interno para el botón */
  text-align: center; /* Texto centrado */
  text-decoration: none; /* Sin subrayado en el texto */
  display: inline-block; /* Tipo de display */
  font-size: 20px; /* Tamaño de la fuente */
  margin: 4px 2px; /* Margen alrededor del botón */
  cursor: pointer; /* Cursor en forma de puntero */
  border-radius: 30px; /* Bordes redondeados para efecto ovalado */
  margin: 20px;
}
.btn-Submit:hover {
  background-color: #021322; /* Color azul marino */

}

h1{

  margin: -20px;
}
.Login .warn-auth.is-active {
  color: #DC4C64;
  font-weight: 400;
  font-size: 0.9em;
}